# Created by .ignore support plugin (hsz.mobi)
lib/phalcon/
public/files/
api/oss/docs/
api/oss/logs/
api/oss/services/
api/payment/alipay_wap/lotusphp_runtime/tmp/
api/payment/wxpay_api/logs/
fullindexer/
public/img/
public/resource/kindeditor/attached/
public/resource/phpqrcode/temp/
public/temp/
public/wxpay_jsapi/logs/
storejoin_cache/
