# Created by .ignore support plugin (hsz.mobi)
public/files/
.idea/dataSources.local.xml
.idea/inspectionProfiles/
.idea/workspace.xml
.phalcon/
api/oss/docs/
api/oss/logs/
api/oss/services/
api/payment/alipay_wap/lotusphp_runtime/tmp/
api/payment/wxpay1/
api/payment/wxpay_api/logs/
api/qq/
api/sina/
app/modules/admin/models/
app/modules/chat/models/
app/modules/member/models/
app/modules/mobile/models/
app/modules/mobile_manager/models/
app/modules/shop/models/
app/modules/shop_manager/models/
app/modules/shop_manager/views/seo/
app/modules/system_manager/models/
exe_tools/
fullindexer/
problem_center/
public/img/
public/resource/kindeditor/attached/
public/resource/phpqrcode/temp/
public/temp/
public/wxpay_jsapi/logs/
storejoin_cache/
支付接口/
